.speed {
  position: relative;
  top: 10px;
  margin-right: 15px;
}

select {
  background: transparent;
  color: var(--font-color);
  border: none;
  font-size: 18px;
  position: relative;
  top: -2.5px;
  border-radius: 5px;
  cursor: pointer;
}

select > option {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
  border: none;
  font-size: 14px;
}

select:focus {
  outline: none;
}
